#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo img {
  max-width: 80%;
  height: auto; 
  width: auto;  
  max-height: 100px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flashcard {
  border: 1px solid #646cff;
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
  background-color: #1a1a1a;
  color: white;
  transition: transform 0.3s;
}

.flashcard:hover {
  transform: scale(1.05);
}

.word-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Отступы между элементами */
}

.word-item {
  padding: 10px;
  border: 1px solid #ccc; /* Обводка */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Курсор при наведении */
  transition: background-color 0.3s; /* Плавный переход при наведении */
}

.word-item:hover {
  background-color: #f0f0f0; /* Цвет при наведении */
}

.word-input {
  margin-bottom: 20px;
}

.word-list-container {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.word-list div {
  cursor: pointer;
  padding: 5px;
}

.word-list div:hover {
  background-color: #f0f0f0;
}
.flashcard-carousel {
  text-align: center;
  margin: 1em;
}

.carousel-controls {
  margin-top: 1em;
}

button {
  margin: 0 1em;
  background-color: #646cff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #5a5a5a;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.menu {
  display: flex;         /* Используем flexbox для выравнивания */
  justify-content: space-between; /* Разделяем пространство между логотипом и меню */
  align-items: center;  /* Выравниваем по центру по вертикали */
}

.menu ul {
  display: flex;        /* Используем flexbox для списка */
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;          /* Убираем отступы */
  margin: 0;           /* Убираем внешние отступы */
}

.menu li {
  margin: 0 15px;      /* Добавляем отступы между пунктами меню */
}

.menu li a {
  text-align: center;   /* Центрируем текст внутри ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  color: #000;          /* Цвет текста, можно изменить */
}

.menu li a:hover {
  color: #646cff;       /* Цвет текста при наведении */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid var(--primary-color);
    text-align: center;
}

th {
    background-color: #1e1c1c; 
    color: var(--text-color);
}